---
layout: default
title: Tags
description: List of articles and posts by tags.
---

<!-- Get the tag name for every tag on the site and set them
to the `site_tags` variable. -->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

<!-- `tag_words` is a sorted array of the tag names. -->
{% assign tag_words = site_tags | split:',' | sort %}

<!-- Build the Page -->
<h2>Archive</h2>
<!-- List of all tags -->
<h3>By Category</h3>
<ul class="tags">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] }}{% endcapture %}
    <li>
      <a href="#{{ this_word | cgi_escape }}" class="tag">{{ this_word }}</a>
      <span>({{ site.tags[this_word].size }}), </span>
    </li>
  {% endunless %}{% endfor %}
</ul>

<!-- List of all years -->
<h3>By Year</h3>
<ul class="tags">
  {% for post in site.posts %}
    {% unless post.next %}
      <li><a href="#{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</a>, </li>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <li><a href="#{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</a>, </li>
      {% endif %}
    {% endunless %}
  {% endfor %}
</ul>

<div class="post-line"></div>
<!-- Posts by Tag -->
<div class="archive">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] }}{% endcapture %}
    <h3 id="{{ this_word | cgi_escape }}">{{ this_word }}</h3>
    {% for post in site.tags[this_word] %}{% if post.title != null %}
      <div>
        <span style="float: left;">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </span>
        <span style="float: right;">
          {{ post.date | date_to_string }}
        </span>
      </div>
      <div style="clear: both;"></div>
    {% endif %}{% endfor %}
  {% endunless %}{% endfor %}
</div>

<!-- Posts by Year -->
<div class="archive">
  {% for post in site.posts %}
    {% unless post.next %}
      <h3 id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3 id="{{ post.date | date: '%Y' }}">{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

    <div>
        <span style="float: left;">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </span>
        <span style="float: right;">
          {{ post.date | date_to_string }}
        </span>
    </div>
    <div style="clear: both;"></div>
  {% endfor %}
</div>
