.container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 90%;
}

.homepage {
  
  &-h2 {
    text-transform: uppercase;
  }
}

.newsletter {
  background: #eaeaea;
  padding: 25px;
}

.tags {
  
  ul {
    list-style: none;
  }

  li {
    display: inline;
  }
} 

.nav {
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;
  background: #000 /*#ffcd00*/;
  border-bottom: 2px solid #222;
  color: #fff;
  text-transform: uppercase;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }
  a {
    color: #fff;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: #fff /*$default-color*/;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;
    font-weight: bold;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    /*color: $default-color;*/
    font-family: $sans-serif;
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

.flex-grid {
  
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 0;
    list-style-type: none;
  }

  li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    background: #F7F9F9;
    padding: 10px;
    list-style-type: none;
  }

  h3 {
    text-align:center;
  }
}

.material-icons {
  
  .md-64 { 
    font-size: 64px; 
    text-align: center;
  }
  
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
