---
layout: default
---
<div class="homepage">
<h2>Hello</h2>
<p>
online extrovert, real-life introvert
</p>
<p>
I do a lot of different projects and jobs. Most all of them center around education, technology, and/or business. I’ve worked in educational technology at almost every level of learning. I have worked with countless small business to help them run more efficiently with technology. This website is an attempt to collect my work and ideas spread out across many different avenues. The ideas expressed here are my own, and may not reflect the ideas of any organizations I represent.
</p>
</div>

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 30 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
