---
layout: default
---
<div class="homepage">
<div class="newsletter">
<table>
  <tr>
    <td>
      <a href="https://gumroad.com/l/CvEGu"><img width="150" src="/assets/img/choice-3.png" /></a>
    </td>
    <td>
      <p><strong>Current Project:</strong> Writing the book <i>Choice: Personalized Learning, Personalized Technlogy</i>. A look at educational technology and how it can be done better in K12 schools.</p>
      
      <p>Pre-orders <a href="/2019/cyod-pre-order">now available</a></p>
    </td>
  </tr>
</table>
</div>
</div>

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 30 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}
  

  <span><!--{{ paginator.page }}--><a href="/archive">View All</a></span>
</div>
